.same .textInput {
  padding: 0px 25px 20px 30px;
  background: transparent;
}

.same .textInput label {
  color: #fff;
}

.same .textInput .form-control {
  margin-bottom: 15px;

  box-shadow: none;
  outline: 0;
  background: var(--body-color);
  border: 1px solid #444;
  color: #fff;

  box-shadow: 3px -3px 5px 1px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 3px -3px 5px 1px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 3px -3px 5px 1px rgba(0, 0, 0, 0.5) inset;
}

.same .textInput .form-floating .form-control {
  padding-top: 18px;
  padding-bottom: 0;
}

.same .textInput .form-select {
  box-shadow: none;
  outline: 0;
  background: var(--body-color);
  border: 1px solid #444;
  color: #fff;

  box-shadow: 3px -3px 5px 1px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 3px -3px 5px 1px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 3px -3px 5px 1px rgba(0, 0, 0, 0.5) inset;
}

.same .textInput .btn {
  box-shadow: inset 0px 1px 0px 0px #d6b96b;
  background: linear-gradient(to bottom, #c5a652 5%, #99730b 100%);
  background-color: #c5a652;
  border: 1px solid #7d5d0c;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  padding: 4px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #6e530a;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.same .textInput .btn:hover {
  background: linear-gradient(to bottom, #99730b 5%, #c5a652 100%);
  background-color: #99730b;
}

.same .textInput .btn:active {
  position: relative;
  margin-top: 1px;
}
#floatingTextarea{
    height:200px !important;
}