.topBar {
    background: #1b7b8b;
    width: 80%;
    padding-right: 100px;
    clip-path: polygon(100% 0%, 99% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.8) inset;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.8) inset;
  
    overflow: hidden;
  }
  
  .logo {
    position: relative;
    z-index: 1;
    color: #7affa3 !important;
  }
  
  .logo::before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    top: -15px;
    right: -15px;
    left: -15px;
    bottom: -8px;
    z-index: -1;
  }
  
  .navbar ul li {
    margin: 0 10px;
  }
  
  .navbar ul li a {
    color: #fff !important; 
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    position: relative;
    z-index: 1;
  }
  
  .navbar ul li a:hover {
    color: #7affa3 !important;
  }
  
  .navbar ul li a::before {
    position: absolute;
    content: "";
    top: -15px;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  
    width: 100%;
    height: 0px;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transform: skew(0, -5deg);
    -webkit-transform: skew(0, -5deg);
    -moz-transform: skew(0, -5deg);
    -ms-transform: skew(0, -5deg);
    -o-transform: skew(0, -5deg);
  }
  
  .navbar ul li a:hover:before {
    height: 80px;
    transform: skew(0, 0);
    -webkit-transform: skew(0, 0);
    -moz-transform: skew(0, 0);
    -ms-transform: skew(0, 0);
    -o-transform: skew(0, 0);
  }
  