.main {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
   #menuBar {
    background: #282c34;
    border-bottom: 1px solid #1b7b8b;
    /* box-shadow: none; */
    padding-top: 10px;
  
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.8);
  }
  
