.playlistVideoBox img {
    width: 100px;
    min-height: 70px;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 3px 0 3px 3px;
  }
  
  .v_item_text {
    padding-top: 12px;
    padding-left: 5px;
    position: relative;
  }
  
  .v_item_text h5 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 3px;
  }
  
  .v_item_text p {
    color: #999;
    font-size: 14px;
  }
  
  .v_item_text a {
    color:#c5a752;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    margin-left: 3px;
  }
  
  .v_item_text a:hover {
    color: #7affa3;
  }
  
  #pv-Satting {
    position: absolute;
    color: #999;
    cursor: pointer;
    top: 50%;
    right: 20px;
    transform: translateY(-50, -50);
    -webkit-transform: translateY(-50, -50);
    -moz-transform: translateY(-50, -50);
    -ms-transform: translateY(-50, -50);
    -o-transform: translateY(-50, -50);
  }
  
  #pv-Serial {
    position: absolute;
    right: 6px;
    top: 1px;
    color: #666;
    font-size: 16px;
  }
  .commentBox h4{
    color:white;
  }
  .commentBox-body{
    width:100%;
  }
  video {
    width: 382px;
  }