#dashBoard.allbox {
    padding: none;
    position: relative;
    /* overflow: hidden; */
    width: 95%;
    height: 550px;
    background: #282c34;
    margin: 0 auto;
      margin-top: 0px;
    margin-top: 20px;
    border: 1px solid #034c58;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 20px;
  
  }
 